<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiments Analysis with NLP</title>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrap">
            <header>
                    <h1>
                        Sentiment Analysis with NLP
                    </h1>
                    <main>
                        
                        <section>
                            <form id="form" class="" onsubmit="return Client.handleSubmit(event)">
                                <input id="input-url" type="text" name="input" value="" placeholder="URL of your article">
                                <input type="submit" name="" value="SUBMIT" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                            </form>
                        <section>
        
                        <section>
                            <div id="polarity"></div>
                        </section>
                        <section>
                            <div id="go-back"></div>
                        </section>
                    </main>
            </header>

            
            
        </div>
        <footer>
            <div class="footer-wrap">
                <div>e19101990 &copy; 2020 | </div>
                <div><a href="https://github.com/19101990/evaluate-news-nlp">GitHub</a></div>
            </div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
