body {
    font-family: 'Abel', sans-serif;
}

section {
    margin: 50px auto;
}

.hide {
    display: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
}

.results {
    font-family: 'Abel', sans-serif;
}


// font-family: 'Abel', sans-serif;
// font-family: 'Bebas Neue', cursive;