.footer-wrap {
    background: rgb(54, 143, 32);
    color: #fff;
    display: flex;
    min-height: 8vh;
    font-family: 'Abel', sans-serif;
    align-items: center;
    justify-content: center;
}

.footer-wrap a {
    color: #fff;
    background: rgb(26, 109, 0);
    text-decoration: none;
    padding: .25em .75em;
    margin: 0 .25em;
    border-radius: 5px;
}

// footer p {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 5vh;
//     font-family: 'Abel', sans-serif;
// }