.show-result {
    display: block;
    padding: 1em 2em;
    text-align: center;
    background: rgb(54, 143, 32);
    color: #fff;
    font-size: 3em;
    font-family: 'Abel', sans-serif;
}

.show-button {
    display: block;
    padding: 1em 2em;
    text-align: center;
    font-family: 'Abel', sans-serif;
    background: rgb(211, 211, 211);
}